# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://ekoydupnsntnferluhaw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVrb3lkdXBuc250bmZlcmx1aGF3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcyMDI4NDMsImV4cCI6MjA5Mjc3ODg0M30.LFGAlO4LP0sY8C6pfGGmYSeCXGp1tOLtHMGeBLvT7JQ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVrb3lkdXBuc250bmZlcmx1aGF3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzIwMjg0MywiZXhwIjoyMDkyNzc4ODQzfQ.AVbHoNJhzYaylFStoOyKspF56OdMVgUYI5bjLJzssNU

# Application Variables
JWT_SECRET=saad2005
INITIAL_PASSWORD=saad2005
DATA_DIR=/path/to/data/directory
PORT=20128
BASE_URL=https://9router-drab.vercel.app/
NEXT_PUBLIC_BASE_URL=https://9router-drab.vercel.app/

# Gemini OAuth
GEMINI_OAUTH_CLIENT_ID=318323683230-9idf4nlcdvaok28qape488cqpqpq9r9l.apps.googleusercontent.com

GEMINI_OAUTH_CLIENT_SECRET=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

# Antigravity OAuth
ANTIGRAVITY_OAUTH_CLIENT_ID=318323683230-9idf4nlcdvaok28qape488cqpqpq9r9l.apps.googleusercontent.com

ANTIGRAVITY_OAUTH_CLIENT_SECRET=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


# Google OAuth
GOOGLE_CLIENT_ID=318323683230-9idf4nlcdvaok28qape488cqpqpq9r9l.apps.googleusercontent.com

GOOGLE_CLIENT_SECRET=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

